// Colores

$color-negro: #000D21 ;
$color-azul-oscuro: #00395D ;
$color-azul-medio: #006EA7 ;
$color-azul-claro: #00B0FB ;
$color-celeste: #a0dfe0 ;

// Font-family

$font-family-montserrat: "Montserrat", sans-serif;
$font-family-nunito: "Nunito", sans-serif;
